<h1>Display your Pirate here</h1>
  Name: <%=@pirate_name %>
  Height:<%=@pirate_height %>
  Weight:<%=@pirate_weight %>

<h2>Display your first ship here</h2>
    Name:<%=@ship_one_name %>
    Type:<%=@ship_one_type %>
    Booty:<%=@ship_one_booty %>

<h2>Display your second ship here</h2>
    Name:<%=@ship_two_name %>
    Type:<%=@ship_two_type %>
    Booty:<%=@ship_two_booty %>
