<div class="pirate">
  <h3>Pirate Name: <%= @pirate["name"] %></h3><br>
  <h4>Pirate Weight: <%= @pirate["weight"] %></h4>
  <h5>Pirate Height: <%= @pirate["height"] %></h5>

</div><br>

<h1>Ships</h1>
  <div class="ship">
    <p>Ship Name: <%= @ship1["name"] %></p><br>
    <p>Ship Type: <%= @ship1["type"] %></p><br>
    <p>Ship Booty: <%= @ship1["booty"] %></p><br>
  </div><br>
  <p>Ship Name: <%= @ship2["name"] %></p><br>
  <p>Ship Type: <%= @ship2["type"]%></p><br>
  <p>Ship Booty: <%= @ship2["booty"] %></p><br>
