<h1>Pirate Name: <%= @pirate["name"] %></h1>
<h2>Height: <%= @pirate["height"] %></h2>
<h2>Weight: <%= @pirate["weight"] %></h2>

<h2>Ship Name: <%= @ship1["name"] %></h2>
<h2>Ship Type: <%= @ship1["type"] %></h2>
<h2>Ship Booty: <%= @ship1["booty"] %></h2>

<h2>Ship Name: <%= @ship2["name"] %></h2>
<h2>Ship Type: <%= @ship2["type"] %></h2>
<h2>Ship Booty: <%= @ship2["booty"] %></h2>
