<h1>Display your Pirate here</h1>
<%= @pirate['name'] %>
<%= @pirate['weight'] %>
<%= @pirate['height'] %>

<h2>Display your first ship here</h2>
<%= @ship_one['name'] %>
<%= @ship_one['type'] %>
<%= @ship_one['booty'] %>

<h2>Display your second ship here</h2>
<%= @ship_two['name'] %>
<%= @ship_two['type'] %>
<%= @ship_two['booty'] %>
