<h1>Pirate Name: <%= @pirate.name %><br>
Pirate Weight: <%= @pirate.weight %><br>
Pirate Height: <%= @pirate.height %><br>
</h1>

<h2>Ship Name: <%= @ships.first.name%><br>
Ship Type: <%= @ships.first.type%><br>
Ship Booty: <%= @ships.first.booty%><br></h2>


<h2>Ship Name: <%= @ships.last.name%><br>
Ship Type: <%= @ships.last.type%><br>
Ship Booty: <%= @ships.last.booty%><br></h2>

